@import './../../../assets/colors';

.navbar-tru.bg-tru{ 
    background: $tt-color-dark;
    padding: 1em 0;
    position: relative;
    z-index: 2;

    .img-logo{
        width: 36px;
    }

    .nav-link{
        cursor: pointer;
    }

    .btn-primary{
        color: #fff;
    }
}
